#gmail_BG {
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom right, blue, black);
}

.bg_icon {
	display: inline-block;
	background-image: url("../bg_mat/mobile-smartphone-mail-600x400.jpg");
	width:300px;
	height:200px;
}

h1 {
	color: white;
}

.g_search_div {
	display: inline-block;
	width: 500px;
}

.g_spacer {
	display: inline-block;
	width: 150px;
	margin: auto;
}

.google_label {
	text: "Google Search?";
	color: white;
}

#googlText {
}

#googl {
	text: "Search!";
}

.mail_body_hr {
	height: 10px;
	color: green;
	background-color: orange;
	margin: 0;
}

#wrapperTable {
	width: 100%;
	border: 1px solid black;
	padding: 0;
} 

.mail_col1 {
	background-color: white;
	width: 15%;
}

.mail_col2 {
	background: linear-gradient(left to right, blue, black);
	width: 85%;
}

#indexWrapperDiv {
	height: 500px;
}

#indexTable {
	width: 100%;
}

#mailWrapperDiv {
	height: 500px;
	overflow: auto;
}

#headerTable {
	width: 100%;
	color: white;
}

#mailTable {
	width: 100%;
	color: white;
}

.del_class {
	width: 5%;
}

.send_class {
	width: 15%;
	font-weight: bold;
}

.subj_class {
	width: 30%;
	font-weight: bold;
}

.date_class {
	width: 50%;
	font-weight: bold;
}

#mailBodyTableHeader {
	width: 100%;
	color: white;
}

#mailBodyTable {
	
}